<section class="company-intro">
  <h2>Bienvenue chez Océan Aventure</h2>
  <p>
   Installés à Djerba depuis plus de 10 ans, nous sommes une équipe passionnée spécialisée dans les activités nautiques. Que vous soyez amateur de sensations fortes ou simplement en quête de détente au fil de l’eau, nous avons l’activité qui vous correspond.
<br><br>
Chez Océan Aventure, la sécurité, la convivialité et le plaisir sont au cœur de notre engagement. Jet ski, paddle, parachute ascensionnel, bouée tractée… notre large choix d’activités est encadré par des professionnels qualifiés, toujours dans une ambiance fun et chaleureuse.
<br><br>
👉 Venez vivre une expérience inoubliable en mer, découvrir les beautés de la Méditerranée et partager avec nous la passion de l’océan.
  </p>
</section>
