.company-intro {
background: linear-gradient(to right, #1e3c72, #2a5298);
  /* background: rgba(255, 255, 255, 0.648); */
      min-height: 200px;
  padding: 20px;
  /* border-radius: 30px; */
  color:white;
  font-family: sans-serif;
}
