.card {
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 20px 40px;
    min-height: 150px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
-webkit-box-shadow: -8px 11px 15px -3px #000000; 
box-shadow: -8px 11px 15px -3px #000000;
}

.title {
    font-weight: bold;
    text-align: center;
}

/* .line {
    width: 100%;
    border: black 1px solid;
    margin: 10px 0px;
} */